Package: tilt
Version: 2.0.1
Section: base
Priority: optional
Architecture: amd64
Depends: default-jre-headless (>= 1.6)
Maintainer: Desmond Schmidt <desmond.allan.schmidt@gmail.com>
Description: Textto Image Linking Tool
 links word shapes in a page-image 
 with words in a transcription
